[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==19.3b0"
v = {editable = true,version = "*"}

[packages]
requests = "*"
pymongo = "*"
dnspython = "*"
pandas = "*"
jinja2 = "*"

[requires]
python_version = "3.6"

[scripts]
black_check = "black . --config ./pyproject.toml --check"
black_write = "black . --config ./pyproject.toml"
